.container {
  align-items: center;
  background-color: var(--shape);
  border-radius: 24px;
  display: flex;
  margin-bottom: 5rem;
  justify-content: center;
  img {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
  }
}
.projectDetails {
  margin-left: 2rem;
  h1 {
    color: var(--text-title);
    line-height: 150%;
    font: 700 2.5rem "Playfair Display", sans-serif;
    margin-bottom: 1.5rem;
  }
  p {
    width: 406.68px;
    color: var(--text-body);
    font: 400 1.125rem "Nunito", sans-serif;
    line-height: 150%;
  }
  button {
    border: 1px solid var(--text-title);
    box-sizing: border-box;
    border-radius: 24px;
    padding: 8px 24px;
    background-color: transparent;
    color: var(--text-title);
    font: 500 1.125rem "Nunito", sans-serif;
  }
}
