.btn {
  background-color: var(--yellow);
  border-radius: 0.5rem;
  color: var(--text-title);
  font: 500 1.125rem "Nunito", sans-serif;
  height: 2.6875rem;
  padding: 0.5rem 1.5rem;
  width: 7.1875rem;

  + .btn {
    margin-left: 0.75rem;
  }
}

.btn.outlined {
  border: 2px solid var(--text-title);
  background: transparent;
}
