.container {
  // min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // height: 100vh;
}

.main {
  padding: 1rem 0 0 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  h2 {
    color: var(--text-title);
    text-align: center;
    font: 700 3rem "Playfair Display", sans-serif;
    border-radius: 2px;
    line-height: 4.5rem;
  }
}
.borderBottom {
  border-bottom: 4px solid var(--yellow);
  width: 120px;
  margin: 0 auto;
}
